@import '../../style/colors';

.header-title-container{
    margin: 10px 0px 20px 0px;
    h2{
        color: $titleColor;
        font-size: 20pt;
    }

    h6{
        font-size: 12pt;
        color: $subtitleColor;

    }
}